*{
  background-image: linear-gradient(rgb(142, 195, 245),rgb(226, 226, 193));
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 97%;
  bottom: 0; 
}

p{
  margin: 0;
  padding: 0.5vh; 
  color: rgb(110, 94, 252);
  font-size: 1.5vh;
}
