*{
  background-image: linear-gradient(rgb(240, 245, 196),rgb(161, 209, 169));
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 97%;
  bottom: 0; 
}

p{
  margin: 0;
  padding: 0.5vh; 
  color: rgb(17, 117, 17);
  font-size: 1.5vh;
}
