div {
  height: 100%;
  margin: 20px 3px 3px 5px;
  padding: 5px;  
  float:left;
  width: 70%;
}

h2 {
  margin: 4px;
}

ul{
  margin: 2px 2px 0px 2px;
  height: 100%;
}

li {
  height: 100%;
}