*{
  overflow: hidden;
  margin: 5px;
}

#our-team {
  margin: 2px;
  padding: 2px;
}

#team-mate{
  opacity: 1;
}

h2 {
  margin: 2px;
}

img {
  max-width: 30%;
  height: auto;
  width: auto;
  padding: 0;
  float: left; 
  border: 0.8vh solid transparent;
  border-image-source: url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/border-with-leaves-.jpg);
  border-image-repeat: round;
  border-image-slice: 30;
  border-image-width: 0.8vh;
}

p, ul, ol, li {
  float: rigth;
  padding: 0% 2% 2% 2%;
}