*{
  overflow: hidden;
  margin: 5px;
}

#our-team {
  background-color: rgb(111, 133, 12);
  margin: 2px;
  padding: 2px;
}

#team-mate{
  background-color: rgb(197, 233, 38);
}

h2 {
  margin: 2px;
}

img {
  max-width: 50%;
  height: auto;
  width: auto;
  padding: 5% 10% 5% 5%;
  float: left;
}

button {
  font-size: 10pt;
  float: inherit;
  max-width: 100%;
  height: auto;
  width: auto;
  padding: 1% 5% 1% 5%;
}

p {
  float: rigth;
  padding: 5% 10% 5% 5%;
}