/* Global Styles */

* {
  font-family: 'Julius Sans One', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #144679;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/sand.jpg");
  background-repeat:no-repeat;
  background-size: 100% 200%;
}

router-outlet + *  {
  padding: 0 16px;
}

input {
  font-size: 2vh;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 2vh;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 1.6vh; 
  color: #a7e8f8; 
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/brand-blue-font-blue-button.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
  font-family: 'Julius Sans One', sans-serif; 
  margin: 0 0 24px; 
  text-shadow: 1px 1px 1px #082b34;
  line-height: 10px; 
  text-align: center;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
  height: 30px;
}

.button:hover, button:hover {
  font-weight: bolder;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

app-top-bar {
  cursor: pointer;
}

h1 { 
  font-size: 4vh;
  color: #CEF0D4; 
  font-family: 'Rouge Script', cursive; 
  font-weight: normal; 
  margin: 0; 
  text-align: center; 
  text-shadow: 2px 2px 4px #05171b; 
}

h2 {
  font-size: 2.5vh;
}

h3 {
  font-size: 2vh;
}

h1, h2 {
  font-weight: lighter;
}

h2, h3 { 
  color: #3d7aeb; 
  font-family: 'Julius Sans One', sans-serif; 
  font-weight: bold;  
  margin: 0 0 24px; 
  text-shadow: 1px 1px 1px #082b34; 
}

p, li { 
  color: rgb(1, 48, 92); 
  font-family: 'Carme', sans-serif; 
  line-height: 3vh; 
  margin: 0 0 0px; 
  font-size: 2vh;
}

a { 
  text-decoration: underline; 
  cursor: pointer;
  color: #1976d2;
}

a:hover { 
  color: #d5e9ee; 
  text-decoration: underline;
  opacity: 0.8;
}

div {
  background-image: url(https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/sand_74190-171.jpg);
  opacity: 0.85;
}

.content{
  height: 100%;
  margin: 20px 3px 3px 5px;
  padding: 5px;  
  float:left;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: row;
}