<div class="content" id="div-licenses" [@divTrigger]="True ? 'activated' : 'deactivated'">
  <h2>Лицензии:</h2>
  <a href="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png" target="_blank"><img id="first" src="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png"></a>
  <a href="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png" target="_blank"><img id="second" src="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png"></a>
  <a href="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png" target="_blank"><img id="third" src="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png"></a>
  <a href="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png" target="_blank"><img id="forth" src="https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/photo-default.png"></a>
</div>