* {
  display: flex;
  width: 100%;
  height: 68px;
  background-color: #767738;
  padding: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6a77a), to(#272fa0));
}

h1 {
  margin: 0px;
  justify-content: center;
}