* {
  display: flex;
  width: 100%;
  height: 15vh;
  background-color: #767738;
  background-image: url("https://cdn.jsdelivr.net/gh/Erik19852404/zya@master/src/assets/images/top-bar-clouds.jpg");  
  background-repeat:repeat;
  background-size: 100% 100%;
  opacity: 1;
  padding: 16px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0px;
  justify-content: center;
}